@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
@mixin for-phone-only-height {
  @media (max-height: 450px) { @content; }
}
@mixin for-tablet-portrait-up-height {
  @media (min-height: 451px) and (max-height: 899px) { @content; }
}
@mixin for-tablet-landscape-up-height {
  @media (min-height: 900px) and (max-height: 1199px) { @content; }
}
@mixin for-desktop-up-height {
  @media (min-height: 1200px) { @content; }
}
@mixin for-big-desktop-up-height {
  @media (min-height: 1800px) { @content; }
}