@-webkit-keyframes move {
  0% {left: 0; -webkit-transform: rotate(-7deg);}
  25% {left: 25%; -webkit-transform: rotate(7deg);}
  50% {left: 50%; -webkit-transform: rotate(-7deg);}
  75% {left: 75%; -webkit-transform: rotate(7deg);}
  100% {right: 100%;}
}