.bar_loader {
  position: relative;
  height: 2px;
  width: 400px;
  margin: 0 auto;
  background: #347fc3;
  margin-top: 80px;
  margin-bottom: 40px;
}

.ship {
  background-image: image_url("cargo-ship.png");
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  bottom: -17px;
  left: 0;
  position: absolute;
  -webkit-animation: move 3s infinite linear;
}

.card-loader {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 2px #0000002b;
  width: 485px;
}

.p_loader {
  position: relative;
  top: 1px;
  right: 0;
  text-transform: uppercase;
  color: #347fc3;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.modal-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #f0f8ff30;
}