%full-height {
  height: 100%;
}

%align-center {
  text-align: left;
  margin: auto;
}

.full-height {
  @extend %full-height
}

.bg-login-white {
  @extend %full-height;
  @extend %align-center;
  background-color: white;
}

.bg-login-blue {
  @extend %full-height;
  @extend %align-center;
  background-color: $light-blue;
}

.login-content {
  margin: 0;
  position: relative;
  padding: 15%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-53.5%);
  @include for-phone-only-height {
    padding-top: 0%;
    padding-bottom: 0%;
    transform: translateY(-40.5%);
    top: 32%;
  }
  @include for-tablet-portrait-up-height {
    top: 55%;
  }
  @include for-big-desktop-up {
    top: 56%;
  }
  @include for-tablet-portrait-up {
    top: 44%;
  }
  @include for-desktop-up-height {
    top: 36%;
  }
  @include for-tablet-portrait-up-height {
    top: 56%;
  }
}

.login-form {
  position: relative;
  top: 26%;
  left: 25%;
  @include for-phone-only {
    left: 15%;
  }
  @include for-tablet-portrait-up {
    left: 27%;
  }
  @include for-phone-only-height {
    top: 4.5%;
  }
  @include for-tablet-portrait-up-height {
    top: 28.5%;
  }
  @include for-big-desktop-up {
    left: 40%;
  }
}

.img-login-frame {
  max-width: 378px;
  @include for-phone-only-height {
    display: none;
  }
}

.login-info {
  color: $marine-blue;
  font-size: 18px;
}

.login-info-header {
  color: $marine-blue;
  font-size: 26px;
  font-weight: bold;
}

.logo-frame {
  width: 80px;
  margin-bottom: 15px;
  @include for-phone-only-height {
    margin-bottom: 0px;
  }
}

.login-title {
  font-weight: bold;
  color: white;
  font-size: 11pt;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  line-height: 75px;
  @include for-phone-only-height {
    line-height: 45px;
  }
}

.login-copyright {
  font-size: 9pt;
  color: white;
}

.container-login {
  @include for-big-desktop-up {
    width: 250px;
  }
  @include for-tablet-portrait-up {
    width: 250px;
  }
}
