body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Loader */
.bar_loader {
  position: relative;
  height: 2px;
  width: 500px;
  margin: 0 auto;
  background: #347fc3;
  margin-top: 150px;
}

.ship {
  background-image: url("images/cargo-ship.png");
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  bottom: -17px;
  left: 0;
  position: absolute;
  -webkit-animation: move 3s infinite linear;
}

.p_loader {
  position: absolute;
  top: -35px;
  right: -85px;
  text-transform: uppercase;
  color: #347fc3;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

/* end Loader */

/* Animation */
@-webkit-keyframes move {
  0% {left: 0; -webkit-transform: rotate(-7deg);}
  25% {left: 25%; -webkit-transform: rotate(7deg);}
  50% {left: 50%; -webkit-transform: rotate(-7deg);}
  75% {left: 75%; -webkit-transform: rotate(7deg);}
  100% {right: 100%;}
}

/* end Animation*/
